@{
    ViewData["Title"] = "Meine Startseite"; //Titelausgabe im Browser-Fenster
}

<div class="text-center">
    <p>Ich bin umgeben von Orange</p>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
