@{
    ViewData["Title"] = "Privacy Policy";
}


<div>
    <p>ToDo List aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

    <ul>
        <li>Einkaufen gehen</li>
        <li>Katze füttern</li>
        <li>Mich vor gefressige KAtze verstecken</li>
    </ul>
</div>
