
@{
    ViewData["Title"] = "WithModelWithoutDeclaration";
}

<h1>WithModelWithoutDeclaration</h1>


<p>@Model.Id</p>
<br />
<p>@Model.FirstName</p>

<p>Code Vervollständigungs - IntelliSense Feature wird hier nicht verwendet :-( </p>